*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1608px;
    width: 100%;
    margin: 0 auto;
}

/* Navbar */
#header .container{
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar--list{
    display: flex;
    align-items: center;
}
.navbar--list--item, .loginArea--list--item{
    display: inline;
    margin-right: 74px;
    justify-content: center;
}
.loginArea--list--item{
    margin-right: 42px;
}
.navbar--list--item--link{
    color: #82809C;
}
.brandingLogo{
    max-width: 176px;
    width: 100%;
}
.loginIcon{
    width: 12px;
}
.loginArea--list--item--link{
    color: #5712A6;
}
.signUp{
    padding: 8px 22px;
    color: #2678FA;
    border: 1px solid #2678FA;
    border-radius: 8px;
    transition: ease .5s;
}
.signUp:hover{
    background-color: #2678FA;
    color: white;
    transition: ease .5s;
}

/* Section1 */
.hero{
    display: flex;
    text-align: start;
    margin-top: 64px;
}
.hero--text{
    max-width: 400px;
    width: 100%;
    padding-top: 100px;
}
.hero--text--title{
    font-size: 60px;
    color: #5712A6;
}
.hero--text--description{
    color: #82809C;
    margin: 55px 0;
    font-size: 18px
}
.hero--text--button{
    cursor: pointer;
    padding: 22px 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to top right, #5c68ee, #14e8fd);
    transition: ease .5s;
}
.hero--text--button:hover{
    opacity: .8;
    transition: ease .5s;
}
.hero--image--item{
    max-width: 1112px;
    width: 100%;
    margin-left: 243px;
}