*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1608px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* Navbar */
#header .container{
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar--list{
    display: flex;
    align-items: center;
}
.navbar--list--item, .loginArea--list--item{
    display: inline;
    margin-right: 74px;
    justify-content: center;
}
.loginArea--list--item{
    margin-right: 42px;
}
.navbar--list--item--link{
    color: #82809C;
}
.brandingLogo{
    max-width: 176px;
    width: 100%;
}
.loginIcon{
    width: 12px;
}
.loginArea--list--item--link{
    color: #5712A6;
}
.signUp{
    padding: 8px 22px;
    color: #2678FA;
    border: 1px solid #2678FA;
    border-radius: 8px;
}
.signUp:hover{
    background-color: #2678FA;
    color: white;
    transition: ease .5s;
}

/* Section1 */
#hero{
    display: flex;
    margin-top: 64px;
    justify-content: space-between;
}
#hero .container{
    text-align: start;
    margin-left: 147px;
}
.hero--text{
    max-width: 400px;
    width: 100%;
    padding-top: 100px;
}
.hero--text--title{
    font-size: 60px;
    color: #5712A6;
}
.hero--text--description{
    color: #82809C;
    margin: 55px 0;
    font-size: 18px
}
.hero--text--button{
    cursor: pointer;
    padding: 22px 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to top right, #5c68ee, #14e8fd);
}
.hero--text--button:hover{
    opacity: .8;
    transition: ease .5s;
}
.hero--image--item{
    max-width: 1112px;
    width: 100%;
}

/* Section 2 */
#howToStart{
    margin-top: 194px;
}
.howToStart--line{
    width: 195px;
    margin-right: 250px;
    margin-bottom: 106PX;
}
.howToStart--title{
    font-size: 50px;
    color: #5712A6;
    margin-bottom: 227px;
}
.howToStart--steps--list{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-between;
}
.howToStart--steps--list--item{
    max-width: 280px;
    width: 100%;
}
.howToStart--steps--list--image{
    width: 100%;
}
.howToStart--steps--list--title{
    font-size: 30px;
    color: #5712A6;
    margin: 64px 0;
}
.howToStart--steps--list--description{
    font-size: 20px;
    color: #82809C;
}


/* Section 3 */
#aboutUs{
    margin-top: 200px;
    display: flex;
    color: #82809C;
}

.aboutUs--content{
    margin-right: 240px;
}
#aboutUs .container{
    text-align: start;
}
.aboutUs--content--line{
    margin-top: 114px;
    margin-bottom: 164px;
}
.aboutUs--content--text{
    font-weight: normal;
    margin-bottom: 60px;
    font-size: 30px;
}
.aboutUs--content--callToAction{
    margin-bottom: 95px;
    font-size: 30px;
}
.aboutUs--content--link{
    font-size: 30px;
    color: #2678FA;
    font-weight: bold;
}

/* Section 4 */
#safety{
    display: flex;
    justify-content: space-between;
}
.safety--content--line{
    margin-top: 433px;
    margin-bottom: 118px;
}
.safety--content{
    margin-left: 240px;
}
.safety--content--title{
    font-size: 40px;
    color: #5712A6;
    margin-bottom: 158px;
}
.safety--content--description{
    font-size: 30px;
    color: #82809C;
    text-align: start;
}
.safety--content--description--span{
    font-weight: bold;
    color: #5712A6;

}
.safety--content--description--span--line{
    width: 70px;
    height: 8px;
    margin-left: 540px;
}
.safety--content--link{
    color: #2678FA;
    font-size: 30px;
    margin-top: 44px;
    display: block;
    margin-bottom: 69px;
}
.safety--banner{
    margin-top: -270px;
}

/* Section 4 */
#download{
    background-image: url(../images/img-fundo-4-teste-programador.png);
    padding: 305px 0;
    background-size: cover;
    text-align: start;
    display: flex;
}
.download--content{
    max-width: 750px;
    display: block;
    text-align: start;
    margin-left: 925px;

}
.download--content--line{
    margin-bottom: 90px;
    width: 180px;
    height: 15px;
}
.download--content--description{
    font-size: 40px;
    margin-bottom: 86px;
    color: #5712A6;
    font-weight: 500;
}
.download--content--image{
    margin-right: 75px;
    border-radius: 8px;
}

/* Section 5 */
#register{
    margin-top: 130px;
    margin-bottom: 156px;
}
#register .container{
    display: flex;
    justify-content: space-around;
}
.register--link{
    display: flex;
    margin-bottom: 69px;
}
.register--link--title{
    font-size: 50px;
    margin-right: 140px;
}
.register--customer, .register--driver{
    text-align: start;
}

/* Footer */
#footer{
    background-image: url(../images/fundo-footer-teste-programador.png.jpg);
    padding: 168px 0 55px;
    background-size: cover;
}

.submenu, .submenu--companyInfo{
    text-align: start;
    display: flex;
    justify-content: space-between;
}
.submenu--companyInfo{
    margin-bottom: 110px;
}

.submenu--driveOn--list--item{
    margin-bottom: 58px;
}
.submenu--driveOn--list--icon{
    font-size: 40px;
    margin-right: 18px;
}
.submenu--driveOn--list--link{
    display: flex;
    color: white;
    align-items: center;
}
.submenu--driveOn--list--item--title{
    font-size: 20px;
}

.submenu--aboutUs{
    margin-right: 310px;
}
.submenu--company--title{
    color: white;
    font-size: 30px;
    margin-bottom: 54px;
}
.submenu--company--list--item{
    margin-bottom: 40px;
}
.submenu--company--list--item--link{
    font-size: 20px;
    color: white;
}


.copy{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    padding-top: 44px;
    border-top: 1px solid white;
}
.copy--socialMedia--list--item{
    display: inline;
    margin-left: 50px;
}
.bi{
    color: white;
}